.projectItem {
    margin: 5px;
    border: 1px solid;
    padding: 15px;
}

.projectItem_top {
    display: flex;
    vertical-align: middle;
}

.projectItem_name {
    display: inline;
}

.projectItem_date {
    display: inline;
    right: 100px;
    position: absolute;
}

.projectItem_content {

}
.projectItem_info {
    height: 30px;
}

.projectItem_skill {
    height: 30px;
}

.projectItem_text {
    height: 30px;
}

.projectItem_etc {
    height: 30px;
}