.projectItemEdit {
    margin: 5px;
    border: 1px solid;
    padding: 15px;
}

.projectItemEdit_top {
    display: flex;
    vertical-align: middle;
}

.projectItemEdit_name {
    display: inline;
}

.projectItemEdit_date {
    display: inline;
}
.projectItemEdit_date p {
    margin-top: -15px;
}

.projectItemEdit_info {
    display: inline;
}

.projectItemEdit_skill {
    display: inline;
}

.projectItemEdit_text {
    display: inline;
}

.projectItemEdit_text_top {
    margin-bottom: 0px;
    padding-left: 10px;
}

.projectItemEdit_text_p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
}

.projectItemEdit_etc {
    display: inline;
    padding-left: 10px;
}

.projectItemEdit_common_title {
    margin-bottom: 0px;
    padding-left: 10px;
}
.projectItemEdit_common_content {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
}

.projectItemEdit_common_text {
    border: none;
    width: 100%;
    font-size: 15px;
    color: transparent;
    text-shadow: 0 0 0 #000;   
}

.projectItemEdit_common_text_tite {
    font-size: 35px;
    font-weight: 700;
}

.projectItemEdit_project_bottom {
    text-align: center;
}

.projectItemEdit_bottom_button {
    width: 100px;
    height: 30px;
    margin: 5px;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
    border: 0px;
}