.projectItem {
    margin: 5px;
    border: 1px solid;
    padding: 15px;
}

.projectItem_top {
    display: flex;
    vertical-align: middle;
}

.projectItem_name {
    display: inline;
}

.projectItem_date {
    margin-top: 20px;
    display: inline;
    right: 100px;
    position: absolute;
}

.projectItem_content {

}
.projectItem_info {
    display: inline;
}

.projectItem_skill {
    display: inline;
}

.projectItem_text {
    display: inline;
}

.projectItem_text_top {
    margin-bottom: 0px;
    padding-left: 10px;
}

.projectItem_text_p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
}

.projectItem_etc {
    display: inline;
    padding-left: 10px;
}

.common_title {
    margin-bottom: 0px;
    padding-left: 10px;
}
.common_content {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
}