.profile {
    border: 1px solid;
    margin: 5px;
    text-align: center;
    display: flex;
    padding: 5px;
}

.profile_img {
    
}

.profile_img img {
    margin: 5px;
    border: 1px solid;
    border-radius: 45%;
    height: 100px;
    width: 100px;
}

.profile_text {
    padding: 20px 0px 0px 0px;
    
    height: 100px;
    width: 100%;
}

